@font-face {
  font-family: "Karantina";
  src: url("./assets/fonts/Karantina/Karantina-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf")
    format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Varela Round";
  src: url("./assets/fonts/VarelaRound/VarelaRound-Regular.ttf")
    format("truetype");
}

:root {
  font-family: Varela Round, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

button {
  border: none;
  width: fit-content;
  cursor: pointer;
  padding: 0.25em 0.75em;
  font-family: Rubik;
  color: var(--app-text-color);
}
button:hover {
  filter: brightness(1.1);
}

.button-like {
  cursor: pointer;
}

.opacity-hover:hover {
  background-color: var(--opacity-hover-background-color);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.h-center {
  display: block;
  margin-inline: auto;
}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fit-content {
  width: fit-content;
}

[tooltip-text] {
  position: relative;
  cursor: pointer;
}

[tooltip-text]::after,
[tooltip-text]::before {
  opacity: 0;
  transition: opacity 0.15s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  pointer-events: none;
}

[tooltip-text]:hover::before,
[tooltip-text]:hover::after {
  opacity: 1;
}

/* tooltip triangle */
/* [tooltip-text]::after {
	content: "";
	border: 5px solid transparent;
	border-bottom-color: white;
	border-top: none;
	top: 100%;
} */

[tooltip-text]::before {
  content: attr(tooltip-text);
  white-space: nowrap;
  top: calc(100% + 4px);

  border-radius: 5px;
  color: black;
  background-color: white;
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  font-size: 0.8rem;
  padding: 0.2em 0.8em;
  padding-top: 0.3em;
}
